
#Ignore these folders and files.
Elijo_Crecer_2024/_charla
Elijo_Crecer_2024/_figs
Elijo_Crecer_2024/_refs
Elijo_Crecer_2024/_stand
Elijo_Crecer_2024/_videos
Elijo_Crecer_2024/_notes.txt

#Ignore these image formats.
#*.jpeg
#*.jpg
#*.png
#*.svg
#*.eps

#Ignore these Matlab files.
#*.fig
#*.log
#*.mat
#*.asv

#Ignore these file formats.
#*.lnk
#*.odt
#*.pdf
#*.xlsx

